<mat-card class="content">
    <h1>Video App</h1>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>

    <h2>Proof Of Concpet</h2>
    <p>The purpose of this application is to test different libraries and strategies for video rendering</p>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>

    <h2>Conclusion</h2>

    <ul class="bullets">
        <li>The packages used (and probably all the others) will work with an URL or with the path of the video</li>
        <li>The packages are wrappers for the HTML 5 video tag</li>
        <li>It is possible to get the videos from back-end through different strategies</li>
        <li>Whitout the video type specification it works properly (Probably getting the type under the hood)</li>
        <li>Sending a webm video to a video tag with type audio/mp4 is working properly</li>
        <li>Suported types are: OGG, WEBM and MP4 (OGG is audio only)</li>
        <li>No support for avi files. To display this type of video it is necessary to use 'old school' techniques (Bugged and unstable)</li>
        <li>Unable to prevent download with right click</li>
        <li>Bugged with large videos and api endpoint in the source</li>
        <li>The best: Blob. Download the video before playing it</li>
    </ul>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    
    <h2>Go To Setup</h2>
    <ul class="bullets">
        <li>Allow video streaming on back end</li>
        <li>Use Vime as main package because it has a good documentation</li>
        <li>Only MP4 and WEBM video files are allowed</li>
    </ul>
</mat-card>
