<mat-card class="content">
    <h1>Ngx Videogular</h1>

    <ul class="pros-and-cons">
        <li>Very bugged</li>
        <li>Requires lots of configurations to get where we want</li>
        <li>Providers: Youtube, Dailymotion, Vimeo</li>
        <li>Plenty of UI customizations</li>
    </ul>
<!-- 
    <vg-player>
        <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
            <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
        </video>
    </vg-player> -->
    
    <div class="divider">
        <mat-divider></mat-divider>
    </div>
</mat-card>
