<mat-card class="content">
    <h1>Ngx Videogular</h1>

    <ul class="bullets">
        <li>Very simple and intuitive</li>
        <li>Wrapper for HTML 5 video tag</li>
    </ul>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-videogular-vp class="demo" src="http://static.videogular.com/assets/videos/videogular.mp4" title="Based On URL"></app-videogular-vp>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-videogular-vp class="demo" src="/assets/teste.mp4" title="Based On Local File"></app-videogular-vp>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-videogular-vp class="demo" [src]="directUrl" title="Using The API Endpoint On The Video Source"></app-videogular-vp>

    <div *ngIf="videoExists" class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-videogular-vp *ngIf="videoExists" class="demo" [src]="videoInfo.safeUrl" [mimeType]="videoInfo.mimeType" title="Based On File And Using BLOB (Dynamic Type)"></app-videogular-vp>

</mat-card>
