<mat-card class="content">
    <h1>Vime</h1>
    <ul class="bullets">
        <li>Requires lots of configurations to get where we want</li>
        <li>Providers: Youtube, Dailymotion, Vimeo</li>
        <li>Plenty of UI customizations</li>
    </ul>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-vime-vp class="demo" src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" title="Based On URL"></app-vime-vp>
    
    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-vime-vp class="demo" src="/assets/teste.mp4" title="Based On Local File"></app-vime-vp>
    
    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-vime-vp class="demo" [src]="getApiVideoEndpoint" title="Using The API Endpoint On The Video Source"></app-vime-vp>

    <div *ngIf="videoExists" class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-vime-vp *ngIf="videoExists" class="demo" [src]="videoInfo.safeUrl" [mimeType]="videoInfo.mimeType" title="Based On File And Using BLOB (Dynamic Type)"></app-vime-vp>

    <div class="divider">
        <mat-divider></mat-divider>
    </div>
    <app-vime-vp class="demo" [src]="getVideoStreamEndpoint" title="Video Stream"></app-vime-vp>
</mat-card>
